:root {
    /**** COLOR PALLETE ****/
    
    /* PRIMARY COLORS */
    --primary-white-color: var(--white-accent-900);

    /* SECONDARY COLORS */

    /* HEADERS COLOR */
    --header-color-default: var(--black-accent-900);
    --input-border-color: var(--light-grey-accent-100);

    /* LIGHT GREY COLORS */
    --light-grey-accent-faded-100: #F5F7FF;
    --light-grey-accent-100: #C0C0C0;

    /* TEAL */
    --teal-accent-900: #05969B;
    --teal-accent-100: #E8F6F6;

    --teal-faded-accent-100: #05969B0A;
    
    /* ORANGE */
    --orange-accent-900: #F2994A;
    --orange-accent-100: #FCF6EE;
    
    /* BLUE */
    --blue-accent-100: #1B5EC9;
    
    /* BLACK */
    --black-accent-900: #000000;
    --black-accent-500: #0C0E10;
    --black-accent-300: #1E1E1E;
    --black-accent-100: #232323;
    
    --black-faded-accent-100: #444444;

    --white-accent-900: #FFFFFF;

    --yellow-accent-900: #FFD700;

    --pink-accent-900: #FACBDF;

    --red-accent-900: #FF5400;
}

.yellow {
    color: var(--yellow-accent-900)
}
.pink {
    color: var(--pink-accent-900);
}
.red {
    color: var(--red-accent-900);
}